@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Regular.ttf') format('truetype');
}

:root {
    --sib-accent-color: #3ea748;
    --sib-hover-color: #2b7432;
    --sib-special-white: #F6F6F6;
    --sib-special-text-color: #676767;
    --sib-special-black: #212121;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.arrow-left {
    background-image: url(./icons/arrow-left.svg);
    width: 10px;
    height: 10px;
}

.plus {
    background-image: url(./icons/plus.svg);
    width: 30px;
    height: 30px;
}